.trigger{
    display: flex;
    flex-direction: column;
    .trigger-box{
        flex: 1;
    }
    .trigger-content{
        padding: 10px;
        background: #ffffff;
        border-radius: 4px;
        min-height: 300px;
    }
    .trigger-up{
        display: flex;
        align-items: center;
        padding-bottom: var(--tiklab-padding);
        justify-content: space-between;
    }
    .trigger-tabs{
        display: flex;
        align-items: center;
        gap: 15px;
        .trigger-tab{
            padding: 2px 4px;
            cursor: pointer;
            font-size: 13px;
            background-color: var(--tiklab-gray);
            border-radius: 4px;
            &:hover{
                background-color: var(--tiklab-gray-400);
            }
        }
        .trigger-tab-active{
            color: var(--tiklab-blue);
            background-color: var(--tiklab-gray-400);
        }
    }
}
