$block-spacing: 30px;
$inline-spacing: 15px;

.overview{
    width: 100%;
    height: 100%;
    overflow: auto;
    .overview-guide{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .overview-guide-title{
        font-weight: var(--tiklab-font-weight-bold);
    }
    .overview-top{
        display: flex;
        gap: 10px;
        margin-bottom: $block-spacing;
        .overview-pipeline{
            flex: 1;
            padding: $inline-spacing ;
            background: var(--arbess-backdrop-color);
            border-radius: 4px;
            .overview-pipeline-up{
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                .overview-pipeline-up-info{
                    flex: 1;
                    margin-right: 10px;
                    .overview-up-name{
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .overview-up-info{
                        padding-top: 5px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 12px;
                        .overview-up-info-item{
                            background: #ffffff;
                            border-radius: 4px;
                            padding: 1px 4px;
                        }
                    }
                    .overview-up-collect{
                        cursor: pointer;
                    }
                }
                .overview-pipeline-up-setting{
                    cursor: pointer;
                }
            }
            .arbess-listname-icon{
                width: 28px;
                height: 28px;
                line-height: 28px;
            }
            .tiklab-profile{
                margin-right: 4px;
                .ant-avatar{
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    font-size: 12px;
                }
            }
            .overview-pipeline-center{
                .pipeline-space{
                    margin-bottom: 20px;
                }
                .overview-pipeline-status{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 10px;
                }
                .overview-pipeline-flex{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                }
                .overview-pipeline-item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    min-width: 0;
                    .overview-pipeline-item-label{
                        width: 28px;
                        text-align: center;
                    }
                    .overview-pipeline-item-value{
                        min-width: 0;
                        flex: 1;
                        .value-value{
                            max-width: 100%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                        }
                        .value-desc{
                            font-size: 12px;
                            color: #999999;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
        .overview-quick-entrance{
            flex: 1;
            padding: $inline-spacing ;
            background: var(--arbess-backdrop-color);
            border-radius: 4px;

        }
    }


    .overview-upper{
        margin-bottom: $block-spacing;
        .overview-upper-content{
            padding-top: 10px;
            .overview-upper-instance{
                display: flex;
                gap: 10px;
                .instance-item{
                    flex: 1;
                    padding: 15px;
                    border-radius: 4px;
                    background: var(--arbess-backdrop-color);
                    cursor: pointer;
                    max-width: 25%;
                }
                .instance-item-up{
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .instance-item-findNumber{
                        font-weight: var(--tiklab-font-weight-bold);
                    }
                    .instance-item-createTime{
                        font-size: 13px;
                        color: #999999;
                    }
                }
                .instance-item-center{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 5px 20px;
                    padding: 5px 0;
                    .instance-item-center-info{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        &>div:first-child{
                            font-size: 13px;
                            color: #999999;
                        }
                        &>div:last-child{
                            flex: 1;
                            min-width: 0;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                        }
                        .instance-item-runStatus{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .overview-center{
        margin-bottom: $block-spacing;
        .overview-center-content{
            display: flex;
            gap: 10px;
            padding-top: 10px;
            .overview-center-release{
                flex: 1;
                background-color: var(--arbess-backdrop-color);
                border-radius: 4px;
                padding: 15px 10px;
            }
        }
    }
    .overview-bottom{
        .overview-bottom-box{
            padding-top: 10px;
        }
    }
}
