.pipelineReDel{
    .pipelineReDel-up{
        padding-bottom: var(--tiklab-padding-item);
    }
    .pipelineReDel-ul{
        border-radius: 4px;
        border: 1px solid var(--arbess-border-color);
    }
    .pipelineReDel-li{
        &:not(:last-child){
            border-bottom: 1px solid var(--arbess-border-color);
        }
        &:first-child .pipelineReDel-li-top{
            border-radius: 4px 4px 0 0;
        }
        &:last-child .pipelineReDel-li-unSelect{
            border-radius: 0 0 4px 4px;
        }
        .pipelineReDel-li-top{
            display: flex;
            align-items: flex-start;
            padding: 10px 20px;
            cursor: pointer;
            background: var(--arbess-backdrop-color);
        }
        .pipelineReDel-li-icon{
            width: 16px;
            height: 16px;
            line-height: 16px;
            margin-right: 10px;
            margin-top: 4px;
            font-weight: var(--tiklab-font-weight-bold);
        }
        .pipelineReDel-li-center{
            flex-grow: 1;
        }
        .pipelineReDel-li-title{
            font-weight: var(--tiklab-font-weight-bold);
        }
        .pipelineReDel-li-desc{
            font-size: var(--tiklab-font-13);
            color: var(--tiklab-gray-500);
        }
        .pipelineReDel-li-down{
            align-self: center;
        }
        .pipelineReDel-li-bottom{
            padding:10px 20px;
        }
        .pipelineReDel-li-none{
            display: none;
        }
    }
}



