.tiklab-version-info{
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  color: #999;
  .tiklab-version-info-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    a{
      color: inherit;
      &:hover{
        text-decoration: underline;
        color: var(--tiklab-blue);
      }
    }
  }
}
