.pose-pose{
    padding-bottom: var(--tiklab-padding);
    .pose-pose-up{
        display: flex;
        justify-content: space-between;
    }
    .pose-pose-content{
        .ant-empty-image{
            height: 80px;
        }
        .add-title{
            font-weight: bold;
            padding-bottom: 8px;
        }
    }
    .pose-pose-item{
        border-bottom: 1px solid #f0f0f0;
        .pose-item-head{
            height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .pose-item-title{
            flex: 1;
            width: 0;
            font-weight: bold;
        }
        .pose-item-content{
            padding: 0 10px 5px;
        }
    }
    .post-pose-btn{
        padding-top: 10px;
        padding-bottom: 8px;
    }
    .pose-item-user-list{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        gap: 5px;
        .ant-avatar{
            width: 22px;
            height: 22px;
            font-size: 12px;
        }
        .user-list-name{
            flex: 1;
        }
        .user-list-receive{
            width: 35%;
            margin: 0 5px;
        }
        .user-list-remove {
            cursor: pointer;
            .remove-ban{
                cursor: not-allowed;
                color: #cccccc;
            }
        }
    }
    .user-list-name,.pose-item-title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        margin-right: 10px;
    }
    .pose-item-user .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        padding: 0;
    }
    .user-title{
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        .title-user{
            font-size: 13px;
            color: #777;
            font-weight: 600;
        }
    }
    .site-collapse-custom-collapse{
        overflow: hidden;
        background: #fff;
        border: 0;
        border-radius: 4px;
    }
    .config-scenario{
        .config-scenario-title{
            margin-bottom: 5px;
        }
        .CodeMirror{
            .CodeMirror-placeholder{
                color: #bfbfbf;
                font-family: Microsoft YaHei, serif;
            }
            .CodeMirror-code{
                font-family: Microsoft YaHei, serif;
            }
            .CodeMirror-gutter-wrapper{
                left: -41px !important;
            }
            .CodeMirror-gutters {
                left: 0 !important;
            }
        }
    }

}

.pose-pose-dropdown{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    .dropdown-item{
        min-width: 120px;
        padding: 8px 16px;
        &:first-child{
            border-radius: 4px 4px 0 0;
        }
        &:last-child{
            border-radius: 0 0 4px 4px;
        }
        &:hover{
            background: #f4f4f4;
            cursor: pointer;
        }
    }
}
