.tool{
  width: 100%;
  height: 100%;
  overflow: auto;
  .tool-list:not(:last-child){
    margin-bottom: 30px;
  }
  .tool-ul{
    border-radius: 4px;
    border: 1px solid var(--arbess-border-color);
    margin-top: 8px;
    &-title{
      font-weight: var(--tiklab-font-weight-bold);
    }
    .tool-li{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      background: var(--arbess-backdrop-color);
      &:not(:last-child){
        border-bottom: 1px solid var(--arbess-border-color);
      }
      &:first-child{
        border-radius: 4px 4px 0 0;
      }
      &:last-child{
        border-radius: 0 0 4px 4px;
      }
      .tool-li-icon{
        margin-right: 10px;
      }
      .tool-li-center{
        flex-grow: 1;
      }
      .tool-li-title{
        font-weight: var(--tiklab-font-weight-bold);
      }
      .tool-li-desc{
        font-size: var(--tiklab-font-13);
        color: var(--tiklab-gray-500);
      }
      .tool-li-down{
        align-self: center;
      }
    }
  }

  .tool-search{
    padding-top: var(--tiklab-padding-item);
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .tool-content{
    padding-top: var(--tiklab-padding-item);
    .ant-avatar{
      width: 22px;
      height: 22px;
      font-size: 12px;
    }
  }
}

.tool-modal{
  .tool-online-download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .online-download-red{
      color: #ff4d4f;
    }
    .online-download-blue{
      color: var(--tiklab-blue);
    }
    .online-download-delete{
      cursor: pointer;
    }
  }
}

.tool-online-modal{
  .ant-table{
    border: none !important;
    .ant-table-tbody > tr > td{
      border-bottom: 1px solid #f0f0f0 !important;
    }
  }
  .version-download-btn{
    cursor: pointer;
    font-size: 16px;
    &-ban{
      cursor: not-allowed;
      color: #999999;
      font-size: 16px;
    }
  }
}
