.server{
  width: 100%;
  height: 100%;
  overflow: auto;
  .server-list:not(:last-child){
    margin-bottom: 30px;
  }
  .server-ul{
    border-radius: 4px;
    border: 1px solid var(--arbess-border-color);
    margin-top: 8px;
    &-title{
      font-weight: var(--tiklab-font-weight-bold);
    }
    .server-li{
      display: flex;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;
      background: var(--arbess-backdrop-color);
      &:not(:last-child){
        border-bottom: 1px solid var(--arbess-border-color);
      }
      &:first-child{
        border-radius: 4px 4px 0 0;
      }
      &:last-child{
        border-radius: 0 0 4px 4px;
      }
      .server-li-icon{
        margin-right: 10px;
      }
      .server-li-center{
        flex-grow: 1;
      }
      .server-li-title{
        font-weight: var(--tiklab-font-weight-bold);
      }
      .server-li-desc{
        font-size: var(--tiklab-font-13);
        color: var(--tiklab-gray-500);
      }
      .server-li-down{
        align-self: center;
      }
    }
  }

  .server-search{
    padding-top: var(--tiklab-padding-item);
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .server-content{
    padding-top: var(--tiklab-padding-item);
    .ant-avatar{
      width: 22px;
      height: 22px;
      font-size: 12px;
    }
  }
}
