.variable{
    display: flex;
    flex-direction: column;
    min-width: 576px;
    .variable-box{
        flex: 1;
    }
    .variable-content{
        padding: 10px;
        background: #ffffff;
        border-radius: 4px;
        min-height: 300px;
    }
    .variable-up{
        display: flex;
        align-items: center;
        padding-bottom: var(--tiklab-padding-item);
        font-size: var(--tiklab-font-13);
        .variable-up-num{
            flex: 1;
            margin-right: var(--tiklab-padding-item);
        }
    }
    .variable-tables-empty{
        .ant-table{
            border-bottom: 0;
        }
    }
}
