.test-hubo{
    width: 100%;
    height: 100%;
    overflow: auto;
    .test-table{
        padding-top: var(--tiklab-padding-item);
        .data-item-name{
            font-weight: var(--tiklab-font-weight-bold);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
            width: 140px;
            line-height: 36px;
            max-width: 95%;
            &:hover{
                cursor: pointer;
                color: var(--tiklab-blue);
            }
            &-ban{
                color: #999999;
                font-weight: var(--tiklab-font-weight-bold);
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                line-height: 36px;
            }
        }
        .data-item-count{
            display: flex;
            align-items: center;
            color: var(--tiklab-gray-500);
            font-size: 13px;
            .data-item-pass{
                width: 70px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
            }
            .count-key{
                padding-right: 5px;
            }
        }
        .fail-text{
            color: #f06f6f;
        }
        .success-text{
            color: var(--tiklab-blue);
        }
    }
}
