.host{
  width: 100%;
  height: 100%;
  overflow: auto;
  .host-search{
    padding-top: var(--tiklab-padding-item);
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .host-content{
    padding-top: var(--tiklab-padding-item);
  }
  .ant-avatar{
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}
