.host-group{
  width: 100%;
  height: 100%;
  overflow: auto;
  .host-group-content{
    padding-top: var(--tiklab-padding-item);
  }
  .ant-avatar{
    width: 22px;
    height: 22px;
    font-size: 12px;
  }
}

.host-group-add-drop{
  box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
  border-radius: 4px;
  background: #ffffff;
  padding: 15px;
  .host-group-host-table{
    padding-top: 8px;
  }
  .host-group-host-add-btn{
    text-align: right;
    padding-top: 10px;
  }
}

.host-group-host-add{
  margin-bottom: 8px;
  .host-group-add-title{
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    margin: 0 0 8px;
    vertical-align: top;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .host-group-add-title-label{
      font-size: 13px;
      color: #777;
      font-weight: 600;
    }
  }
}
