.task-add{
    .task-add-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--tiklab-font-weight-bold);
        height: 45px;
        padding: 0 var(--tiklab-padding);
        .task-add-up-action{
            cursor: pointer;
            font-size: 16px;
        }
    }
    .task-add-bottom{
        overflow: hidden;
        height: calc(100% - 47px);
        padding: 0;
        border-top: 1px solid var(--arbess-border-color);
        .gui-drawer-content{
            height: 100%;
            .gui-drawer-content-left{
                .drawerLeft{
                    height: 100%;
                    overflow-y: auto;
                    background: #f4f4f4;
                    .item{
                        padding: 5px var(--tiklab-padding);
                        cursor: pointer;
                        position: relative;
                        &:before{
                            width: 3px;
                            height: 32px;
                            -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
                            transition: all .4s cubic-bezier(.23,1,.32,1);
                            content: " ";
                            position: absolute;
                            z-index: 2;
                            left: 0;
                            top: 0;
                        }
                    }
                    .item-select{
                        &:before{
                            background:var(--tiklab-blue);
                        }
                    }
                }
            }
            .gui-drawer-content-right{
                .drawerRight{
                    padding: 20px;
                    height: 100%;
                    overflow: auto;
                }
                .group{
                    margin-bottom: 20px;
                    .group-title{
                        margin-bottom: 10px;
                    }
                    .group-content{
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                    }
                    .group-desc{
                        border: 1px solid var(--arbess-border-color);
                        border-radius: 4px;
                        height: 80px;
                        display: inline-flex;
                        align-items: center;
                        cursor: pointer;
                        padding: 0 15px;
                        transition: transform .218s ease-in,-webkit-transform .218s ease-in;
                        gap: 10px;
                        &:hover{
                            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                        }
                        .group-desc-icon{
                            align-items: center;
                            border-radius: 4px;
                            display: inline-flex;
                            height: 44px;
                            justify-content: center;
                            width: 44px;
                        }
                        .group-desc-right{
                            flex: 1;
                            .group-desc-info{
                                font-size: 12px;
                                color: #999999;
                            }
                        }
                    }
                    .group-desc-ban{
                        background-color: #f8f8f8;
                        cursor: inherit;
                    }
                }
            }
        }
    }
}

.task-add-enhance-modal{
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 60px;
    .ant-modal-body{
        padding: 0 !important;
    }
}

