.task-details{
    .task-details-up{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: var(--tiklab-font-weight-bold);
        padding: var(--tiklab-padding-item) var(--tiklab-padding-item) 0;
        .wrapper-head-action{
            cursor: pointer;
            font-size: 16px;
        }
    }
    .task-details-bottom{
        overflow: auto;
        height: calc(100% - 46px);
        width: 100%;
        padding: 0 15px;
        .body-taskForm{
            .input-hover .ant-input{
                background: transparent;
            }
            .input-hover,.input-hover .ant-select-selector{
                border-color: #efeded;
                &:hover{
                    background-color: #f2f2f2;
                }
            }
            .ant-select-multiple.input-hover {
                &:hover{
                    .ant-select-selection-item {
                        background-color: #e6e6e6;
                    }
                }
            }
            .ant-form-item-has-error {
                .ant-input{
                    border-color: #ff4d4f;
                }
                .ant-input:focus{
                    border-color: #ff7875;
                }
                .ant-select-selector{
                    border-color: #ff4d4f;
                }
                .ant-select-selector:focus{
                    border-color: #ff7875;
                }
                .ant-input-affix-wrapper{
                    border-color: #ff4d4f;
                }
                .ant-input-affix-wrapper:focus{
                    border-color: #ff7875;
                }
            }
            .ant-form-item-has-success{
                .input-hover:hover{
                    background-color: #f2f2f2;
                    border-color: transparent;
                }
                .input-hover .ant-select-selector:hover{
                    background-color: #f2f2f2;
                    border-color: transparent;
                }
            }
        }
        .taskForm-forms{
            padding-top: var(--tiklab-padding-item);
            padding-bottom: var(--tiklab-padding);
        }
        .body-taskForm-high{
            display: flex;
            align-items: center;
            padding: var(--tiklab-padding-item) 0;
            justify-content: space-between;
            .body-taskForm-high-tabs{
                display: flex;
                align-items: center;
                gap: 15px;
                .body-taskForm-high-tab{
                    padding: 2px 4px;
                    cursor: pointer;
                    font-size: 13px;
                    background-color: var(--tiklab-gray);
                    border-radius: 4px;
                    max-width: 120px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    &:hover{
                        background-color: var(--tiklab-gray-400);
                    }
                }
                .high-tab-active{
                    color: var(--tiklab-blue);
                    background-color: var(--tiklab-gray-400);
                }
            }
            .body-taskForm-high-num{
                font-size: 12px;
                padding-left: 3px;
                color: #999;
            }
        }
    }
}

