.env{
  width: 100%;
  height: 100%;
  overflow: auto;
  .env-content{
    padding-top: var(--tiklab-padding-item);
    .ant-avatar{
      width: 22px;
      height: 22px;
      font-size: 12px;
    }
  }
}
