.agent{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  .agent-content{
    padding-top: var(--tiklab-padding-item);
  }
  .agent-text{
    &-success{
      color: var(--tiklab-blue);
    }
    &-danger{
      color: #666666;
    }
  }
  .auth-agent{
    margin-top: 80px;
    .auth-agent-title{
      font-size: 13px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .bottom-agent{
      .bottom-agent-desc{
        font-size: 13px;
        color: #999999;
      }
    }
    .auth-agent-ul{
      border-radius: 4px;
      border:1px solid var(--arbess-border-color);
      .auth-agent-li{
        &:not(:last-child){
          border-bottom: 1px solid var(--arbess-border-color);
        }
        .auth-agent-li-unselect{
          border-radius: 4px;
        }
        .auth-agent-li-select{
          border-radius: 4px 4px 0 0;
        }
        .auth-agent-li-top{
          display: flex;
          align-items: flex-start;
          padding: 10px 20px;
          cursor: pointer;
          background: var(--arbess-backdrop-color);
        }
        .auth-agent-li-icon{
          width: 16px;
          height: 16px;
          line-height: 16px;
          margin-right: 10px;
          margin-top: 4px;
          font-weight: var(--tiklab-font-weight-bold);
        }
        .auth-agent-li-center{
          flex-grow: 1;
        }
        .auth-agent-li-title{
          font-weight: var(--tiklab-font-weight-bold);
        }
        .auth-agent-li-desc{
          font-size: var(--tiklab-font-13);
          color: var(--tiklab-gray-500);
        }
        .auth-agent-li-down{
          align-self: center;
        }
        .auth-agent-li-bottom{
          padding:10px 20px;
        }
        .auth-agent-li-none{
          display: none;
        }
      }
    }
  }
}
