.sonarquebe{
  width: 100%;
  height: 100%;
  overflow: auto;
  .sonarquebe-table{
    padding-top: var(--tiklab-padding-item);
    .data-item-name{
      font-weight: var(--tiklab-font-weight-bold);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      width: 140px;
      line-height: 36px;
      max-width: 95%;
      &:hover{
        cursor: pointer;
        color: var(--tiklab-blue);
      }
    }
    .data-item-count{
      display: flex;
      align-items: center;
      color: var(--tiklab-gray-500);
      .data-item-pass{
        width: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }
      .text-ncloc{
        color: #575454;
      }
      .text-loophole{
        color: #ffa500;
      }
      .text-bugs{
        color: #f06f6f;
      }
      .text-files{
        color: #518ee4;
      }
    }
    .fail-text{
      color: #f06f6f;
      padding-left: 5px;
    }
    .success-text{
      color: var(--tiklab-blue);
      padding-left: 5px;
    }
    .warn-text{
      padding-left: 5px;
    }
  }
}

.data-item-count-tip{
  display: flex;
  align-items: center;
  .data-item-count-tip-key{
    width: 80px;
  }
}
