.pipeline-add-mould{
  height: 100%;
  border-top: 1px solid var(--arbess-border-color);
  border-bottom: 1px solid var(--arbess-border-color);
  .pipeline-add-mould-left{
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid var(--arbess-border-color);
    .mould-group{
      padding: 5px var(--tiklab-padding);
      cursor: pointer;
      position: relative;
      &:before{
        width: 3px;
        height: 32px;
        -webkit-transition: all .4s cubic-bezier(.23,1,.32,1);
        transition: all .4s cubic-bezier(.23,1,.32,1);
        content: " ";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
      }
    }
    .mould-group-select{
      background:var(--arbess-hover-color);
      &:before{
        background:var(--tiklab-blue);
      }
    }
  }
  .pipeline-add-mould-right{
    height: 100%;
    overflow: auto;
    padding: 20px;
    .mould-group{
      &:not(:last-child){
        margin-bottom: var(--tiklab-padding);
      }
      .mould-group-title{
        margin-bottom: 8px;
        color: #999999;
        font-size: 13px;
      }
      .mould-group-ul{
        .mould-group-li{
          border-radius: 4px;
          background: #e7f6ff;
          border: 1px solid var(--arbess-border-color);
          cursor: pointer;
          padding: 16px var(--tiklab-padding);
          &:not(:last-child){
            margin-bottom: var(--tiklab-padding-item);
          }
          .mould-group-li-header{
            display: flex;
            align-items: center;
            .li-header-name{
              font-weight: var(--tiklab-font-weight-bold);
              padding-left: 5px;
            }
          }
          .mould-group-li-content{
            display: flex;
            justify-content: left;
            padding-top: 10px;
            .li-step {
              &:not(:first-child){
                margin-left: 30px;
                .li-step-task{
                  &:nth-child(1){
                    &:after{
                      width: 30px;
                      border-top: 1px solid #626262;
                      top: 16px;
                      right: 96px;
                    }
                  }
                  &:nth-child(2){
                    &:after{
                      width: 15px;
                      border: 1px solid #626262;
                      right: 96px;
                      height: 21px;
                      top: -3px;
                      border-right: transparent;
                      border-top: transparent;
                      border-bottom-left-radius: 12px;
                    }
                    &:before{
                      content: "";
                      position: absolute;
                      width: 15px;
                      border: 1px solid #626262;
                      right: 110px;
                      height: 21px;
                      top: -24px;
                      border-left: transparent;
                      border-bottom: transparent;
                      border-top-right-radius: 12px;
                    }
                  }
                  &:nth-child(n+3){
                    &:after{
                      width: 15px;
                      border: 1px solid #626262;
                      right: 96px;
                      height: 50px;
                      top: -32px;
                      border-right: transparent;
                      border-top: transparent;
                      border-bottom-left-radius: 12px;
                    }
                  }
                }
              }
              &:first-child .li-step-task{
                &:nth-child(2){
                  &:after{
                    width: 15px;
                    border: 1px solid #626262;
                    left: 96px;
                    height: 21px;
                    top: -3px;
                    border-left: transparent;
                    border-top: transparent;
                    border-bottom-right-radius: 12px;
                  }
                  &:before{
                    content: "";
                    position: absolute;
                    width: 15px;
                    border: 1px solid #626262;
                    left: 110px;
                    height: 21px;
                    top: -24px;
                    border-right: transparent;
                    border-bottom: transparent;
                    border-top-left-radius: 12px;
                  }
                }
                &:nth-child(n+3){
                  &:after{
                    width: 15px;
                    border: 1px solid #626262;
                    left: 96px;
                    height: 50px;
                    top: -32px;
                    border-left: transparent;
                    border-top: transparent;
                    border-bottom-right-radius: 12px;
                  }
                }
              }
              .li-step-task{
                height: 30px;
                line-height: 30px;
                border-radius: 34px;
                background: #fff;
                width: 96px;
                text-align: center;
                position: relative;
                &:not(:last-child){
                  margin-bottom: 10px;
                }
                &:after{
                  content: "";
                  position: absolute;
                }
              }
              .li-step-name{
                font-size: 12px;
              }
              .icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
        .mould-group-select{
          border-color: var(--tiklab-blue);
        }
      }
    }
  }
}
