.pipelineTable{
    .pipelineTable-name:hover{
        color: var(--tiklab-blue);
        cursor: pointer;
    }
    .pipelineTable-action,.pipeline-number{
        cursor: pointer;
    }
    .pipeline-number{
        display: inline-block;
        color: var(--tiklab-blue);
        padding: 3px 10px;
        border-radius: 30px;
        margin-left: 5px;
        .pipeline-number-desc{
            font-size: 14px;
            padding-left: 5px;
        }
    }
    .pipelineTable-action-ban{
        color: #999999;
    }
    .actions-se{
        font-size: var(--tiklab-font-16);
    }

    .imgs{
        width: 24px;
        height: 24px;
    }
}

.dropdown-more-setting{
    margin-bottom: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--arbess-border-color);
    .dropdown-more-item-setting{
        display: flex;
        align-items: center;
        gap: 1px;
    }
}
