.pipeline-add{
    .ant-modal-body{
        padding: 0 0 15px 0 !important;
    }
    .pipeline-add-type{
        margin-bottom: 25px;
        .pipeline-type-title{
            padding-bottom: 10px;
        }
        .pipeline-type-ul{
            display: flex;
            flex-direction: row;
        }
        .pipeline-type-li{
            padding: 8px 20px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            cursor: pointer;
        }
        .pipeline-type-li:first-child{
            margin-right: var(--tiklab-padding-item);
        }
        .pipeline-type-select{
          border-color: var(--tiklab-blue);
        }
    }
    .pipeline-template{
        height: calc(100% - 59px);
    }
    .steps-top{
        padding: 7px 15px var(--tiklab-padding);
    }
    .steps-content{
        .ant-form{
            padding: 0 15px !important;
            width: 80%;
            margin: 0 auto;
        }
    }
    .steps-bottom{
        padding-top: var(--tiklab-padding-item)
    }
    .ant-steps-item-icon{
        padding-top: 7px;
    }
    .ant-avatar{
        width: 22px;
        height: 22px;
        font-size: 12px;
    }
}

.pipeline-add,.pipeline-edit{
    .ant-select-selector{
        border: none !important;
        box-shadow: none !important;
        background-color: var(--arbess-backdrop-color) !important;
        &:hover{
            background-color: var(--arbess-hover-color) !important;
        }
    }

}
