.history{
    height: 100%;
    width: 100%;
    overflow: auto;
    .history-table{
        .history-table-name:hover{
            cursor: pointer;
            color: var(--tiklab-blue);
        }
        .history-table-pipeline{
            padding-right: 5px;
        }
        .history-table-runWay{
            display: flex;
            align-items: center;
            height: 40px;
            .runWay-user{
                padding-left: 8px;
            }
        }
    }
    .history-screens{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        gap: 10px 0;
        .history-senior-screen{
            cursor: pointer;
            border-radius: 4px;
            padding: 4px;
            &:hover{
                background: var(--arbess-hover-color);
            }
        }
        .count-number{
            padding-left: 3px;
            font-size: 12px;
            color: #666666;
        }
    }
    .ant-avatar{
        width: 22px;
        height: 22px;
        font-size: 12px;
    }
    .history-table-action{
        cursor: pointer;
        font-size: 16px;
    }
    .history-table-action-ban{
        font-size: 16px;
        color: #999999;
    }
}

.history-senior-screen-drop{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    padding: 15px;
    width: 320px;
    .screen-drop-button{
        text-align: right;
    }
    .ant-select{
        background-color: var(--tiklab-gray);
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background-color: var(--arbess-select-color);
        }
    }
    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector{
        cursor: pointer;
    }
    .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector input{
        cursor: pointer;
    }
}
